<div class="contact-search">
  <div class="search-wrapper">
    <input type="text" placeholder="Search Users">
  </div>
  <ul class="contacts-list">
    {{#each model as |contact|}}
      {{#link-to 'contacts.contact.show' contact 
                  tagName='li' class="contact selectable"}}
        <div class="photo-wrapper">
          <img src="{{contact.picture}}" alt="">
        </div>
        <div class="information">
          <h2 class="name">{{contact.firstName}} {{contact.lastName}}</h2>
          <p class="title-company">
            {{contact.jobTitle}} at {{contact.company}}
          </p>
        </div>
      {{/link-to}}
    {{/each}}
  </ul>
</div>
<div class="contact-detail">
  {{ outlet }}
</div>
